{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}
